{% if acquisitions %}
<div class="overflow-x-auto">
  <table class="min-w-full table-auto bg-white border border-gray-200 rounded-lg">
    <thead class="bg-gray-100 text-gray-700">
      <tr>
        <th class="py-3 px-6 text-left border-r-1 border-gray-200">Fecha</th>
        <th class="py-3 px-6 text-left">Producto</th>
      </tr>
    </thead>
    <tbody>
      {% for acq in acquisitions %}
        <tr class="border-t border-gray-200">
          <td class="py-2 px-6 border-r-1 border-gray-200">{{ acq.date }}</td>
          <td class="py-2 px-6">{{ acq.product }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="flex justify-center items-center gap-6 mt-3">
  <!-- Botón página anterior -->
  <a id="previous-page-history-acquision" href="#profile-history-acquision" class="inline-flex items-center text-amber-600 font-medium hover:underline">
      ← Página anterior
  </a>
  <span id="current-page-history-acquision" class="text-gray-700 font-semibold">Página 1</span>
  <!-- Botón siguiente página -->
  <a id="next-page-history-acquision" href="#profile-history-acquision" class="inline-flex items-center text-amber-600 font-medium hover:underline">
      Siguiente página →
  </a>
</div>
{% else %}
<p class="text-gray-500 text-center py-4">No hay historial disponible</p>
{% endif %}