{% for product in products %}
{% if product.is_expired %}
  {% include "components/product_card.html" with src=product.images.0 alt=product.name end_time='Expired' bid_status='INACTIVA' name=product.name category=product.category description=product.description actual_price=product.starting_price product_link=product.get_absolute_url %}
{% else %}
  {% include "components/product_card.html" with src=product.images.0 alt=product.name end_time=product.auction_end_time bid_status='ACTIVA' name=product.name category=product.category description=product.description actual_price=product.starting_price product_link=product.get_absolute_url %}
{% endif %}
{% empty %}
  <p class="col-span-full text-center text-gray-500">No se encontraron productos.</p>
{% endfor %}