{% if stores %}
<div class="overflow-x-auto">
  <div class="text-left flex justify-between">
      <a href="" id="open-invite-form" class="inline-block mb-5 text-amber-600 hover:text-amber-700 font-medium">Invitar usuario</a>
      <a href="" id="open-new-store-form" class="inline-block mb-5 text-amber-600 hover:text-amber-700 font-medium">Añadir tienda</a>
      <a href="" id="open-remove-form" class="inline-block mb-5 text-amber-600 hover:text-amber-700 font-medium">Eliminar usuario</a>
  </div>
  <table class="min-w-full table-auto bg-white border border-gray-200 rounded-lg">
    <thead class="bg-gray-100 text-gray-700">
      <tr>
        <th class="py-3 px-6 text-left">Nombre</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for store in stores %}
        <tr class="border-t border-gray-200">
          <td class="py-2 px-6">{{ store.name }}</td>
          <td class="py-2 px-6 text-right">
            <form method="get" action="{% url 'profile_remove_store' %}" onsubmit="return confirm('¿Estás seguro de eliminar la tienda \'{{ store.name }}\'?');">
              <input type="hidden" name="store_id" value="{{ store.id }}">
              <button type="submit" class="inline-block text-amber-600 hover:text-amber-700 font-medium">
                Eliminar
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
  <div class="overflow-x-auto">
    <div class="text-left flex justify-between">
      <a href="" class="inline-block mb-5"></a>
      <a href="" id="open-new-store-form" class="inline-block mb-5 text-amber-600 hover:text-amber-700 font-medium">Añadir tienda</a>
      <a href="" class="inline-block mb-5"></a>
    </div>
    <p class="text-gray-500 text-center py-4">No tienes tiendas registradas</p>
  </div>
{% endif %}

<!-- Modal oculto -->
<div id="invite-form-modal" style="display: none; position: fixed; top: 20%; left: 50%; transform: translateX(-50%);
    background: white; padding: 20px; border: 1px solid #ccc; z-index: 1000;">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6 pb-2 border-b border-gray-200">Invitar usuario</h2>
    <form method="get" action="{% url 'profile_add_user_store' %}" class="space-y-5">
      {% csrf_token %}
      <div>
          <select name="store_id" id="store-select" class="block w-full px-4 py-3 border border-gray-200 rounded-lg focus:ring-2 focus:ring-amber-500 focus:outline-none focus:border-transparent">
              <option value="">Seleccionar tienda</option>
              {% for store in stores %}
                  <option value="{{ store.id }}">{{ store.name }}</option>
              {% endfor %}
          </select>
      </div>
      <div>
          <input type="text" name="user_username" placeholder="Nombre de usuario"
          class="block w-full px-4 py-3 border border-gray-200 rounded-lg focus:ring-2 appearance-none focus:ring-amber-500 focus:outline-none focus:border-transparent">
      </div>
      <div class="container mx-auto flex p-5 space-x-4">
          <button type="submit" 
              class="bg-gray-900 hover:bg-amber-600 text-white py-3 px-6 rounded-lg transition-colors duration-300 w-full sm:w-auto">
              Invitar
          </button>
          <button type="button" id="close-invite-form" 
              class="bg-gray-900 hover:bg-amber-600 text-white py-3 px-6 rounded-lg transition-colors duration-300 w-full sm:w-auto">
              Cancelar
          </button>
      </div>
    </form>
</div>

<!-- Modal oculto -->
<div id="new-store-modal" style="display: none; position: fixed; top: 20%; left: 50%; transform: translateX(-50%);
    background: white; padding: 20px; border: 1px solid #ccc; z-index: 1000;">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6 pb-2 border-b border-gray-200">Añadir nueva tienda</h2>
    <form method="get" action="{% url 'profile_create_store' %}" class="space-y-5">
      {% csrf_token %}
      <div>
          <input type="text" name="store_name" id="store_name" placeholder="Nombre de la tienda"
          class="block w-full px-4 py-3 border border-gray-200 rounded-lg focus:ring-2 appearance-none focus:ring-amber-500 focus:outline-none focus:border-transparent">
      </div>
      <div class="container mx-auto flex p-5 space-x-4">
          <button type="submit" 
              class="bg-gray-900 hover:bg-amber-600 text-white py-3 px-6 rounded-lg transition-colors duration-300 w-full sm:w-auto">
              Añadir
          </button>
          <button type="button" id="close-new-store-form" 
              class="bg-gray-900 hover:bg-amber-600 text-white py-3 px-6 rounded-lg transition-colors duration-300 w-full sm:w-auto">
              Cancelar
          </button>
      </div>
    </form>
</div>

<!-- Modal oculto -->
<div id="remove-form-modal" style="display: none; position: fixed; top: 20%; left: 50%; transform: translateX(-50%);
    background: white; padding: 20px; border: 1px solid #ccc; z-index: 1000;">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6 pb-2 border-b border-gray-200">Eliminar usuario</h2>
    <form method="get" action="{% url 'profile_remove_user_store' %}" class="space-y-5">
      {% csrf_token %}
      <div>
          <select name="store_id" id="store-selector" class="block w-full px-4 py-3 border border-gray-200 rounded-lg focus:ring-2 focus:ring-amber-500 focus:outline-none focus:border-transparent">
              <option value="">Seleccionar tienda</option>
              {% for store in stores %}
                  <option value="{{ store.id }}">{{ store.name }}</option>
              {% endfor %}
          </select>
      </div>
      <div>
          <input type="text" name="user_username" placeholder="Nombre de usuario"
          class="block w-full px-4 py-3 border border-gray-200 rounded-lg focus:ring-2 appearance-none focus:ring-amber-500 focus:outline-none focus:border-transparent">
      </div>
      <div class="container mx-auto flex p-5 space-x-4">
          <button type="submit" 
              class="bg-gray-900 hover:bg-amber-600 text-white py-3 px-6 rounded-lg transition-colors duration-300 w-full sm:w-auto">
              Eliminar
          </button>
          <button type="button" id="close-remove-form" 
              class="bg-gray-900 hover:bg-amber-600 text-white py-3 px-6 rounded-lg transition-colors duration-300 w-full sm:w-auto">
              Cancelar
          </button>
      </div>
    </form>
</div>

<!-- Fondo oscurecido -->
<div id="overlay" style="display: none; position: fixed; top: 0; left: 0; 
    width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 999;"></div>

<script>
  var openInviteBtn = document.getElementById('open-invite-form');
  if (openInviteBtn) {
    openInviteBtn.addEventListener('click', function(event) {
      event.preventDefault();
      document.getElementById('invite-form-modal').style.display = 'block';
      document.getElementById('overlay').style.display = 'block';
    });
  }

  var closeInviteBtn = document.getElementById('close-invite-form');
  if (closeInviteBtn) {
    closeInviteBtn.addEventListener('click', function() {
      document.getElementById('invite-form-modal').style.display = 'none';
      document.getElementById('overlay').style.display = 'none';
    });
  }

  var openNewStoreBtn = document.getElementById('open-new-store-form');
  if (openNewStoreBtn) {
    openNewStoreBtn.addEventListener('click', function(event) {
      console.log("SIIIIII");
      event.preventDefault();
      document.getElementById('new-store-modal').style.display = 'block';
      document.getElementById('overlay').style.display = 'block';
    });
  }

  var closeNewStoreBtn = document.getElementById('close-new-store-form');
  if (closeNewStoreBtn) {
    closeNewStoreBtn.addEventListener('click', function() {
      document.getElementById('new-store-modal').style.display = 'none';
      document.getElementById('overlay').style.display = 'none';
    });
  }

  var openRemoveBtn = document.getElementById('open-remove-form');
  if (openRemoveBtn) {
    openRemoveBtn.addEventListener('click', function(event) {
      event.preventDefault();
      document.getElementById('remove-form-modal').style.display = 'block';
      document.getElementById('overlay').style.display = 'block';
    });
  }

  var closeRemoveBtn = document.getElementById('close-remove-form');
  if (closeRemoveBtn) {
    closeRemoveBtn.addEventListener('click', function() {
      document.getElementById('remove-form-modal').style.display = 'none';
      document.getElementById('overlay').style.display = 'none';
    });
  }

</script>