<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SubasTAME{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/main.css' %}">
</head>
<body>
    <header>
        <nav>
            <h1>Viva la vida ay</h1>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Test 1</p>
        <button class="btn"> Hola </button>
    </footer>
</body>
</html> 