<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SubasTAME{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/main.css' %}">
</head>
<body>
    <header class="header-base">
        <div class="header-div">
            <a class="header-a" href="{% url 'home' %}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-gray-900 rounded-full" viewBox="0 0 24 24">
                    <path d="M12 3l8 9-8 9-8-9z"></path>
                </svg>
                <span class="ml-3 text-xl">SubasTAME</span>
            </a>
            <nav class="header-nav">
                <a class="header-nav-a">Home</a>
                <a class="header-nav-a">Subastas</a>
                <a class="header-nav-a">Contact Us</a>
            </nav>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="account-buttons">Logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="account-buttons mr-5">Login</a>
            <a href="{% url 'register' %}" class="account-buttons">Register</a>
            {% endif %}
        </div>
    </header>

    <main class="pt-10">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
    </footer>
</body>
</html> 