{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <div class="centered-login">
      <div class="inputs">
        <div>
          <h2 class="title">
            Login to your account
          </h2>
        </div>
        <div class="mt-8">
          <div class="mt-6">
            <form method="post" class="login-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <div class="input-container">
                        <input type="text" id="username" name="username" required>
                    </div>
                </div>
                <div class=" form-group mt-6">
                    <label for="username">Password</label>
                    <div class="input-container">
                        <input type="password" id="password" name="password" required>
                    </div>
                </div>
                {% if form.errors %}
                    <div class="error-message">
                        Invalid username or password.
                    </div>
                {% endif %}
                <div class="mt-6">
                    <span>
                        <button type="submit" class="submit-button">
                        Login
                        </button>
                    </span>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 