{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="login-container">
    <div class="centered-login">
      <div class="inputs">
        <div>
          <h2 class="title">
            Register account
          </h2>
        </div>
        <div class="mt-8">
          <div class="mt-6">
            <form method="post" class="login-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <div class="input-container">
                        <input type="text" id="username" name="username" required>
                    </div>
                </div>
                <div class="form-group mt-6">
                    <label for="username">Email</label>
                    <div class="input-container">
                        <input type="email" id="email" name="email" required>
                    </div>
                </div>
                <div class="form-group mt-6">
                    <label for="username">Password</label>
                    <div class="input-container">
                        <input type="password" id="password1" name="password1" required">
                    </div>
                </div>
                <div class="form-group mt-6">
                    <label for="username">Confirm Password</label>
                    <div class="input-container">
                        <input type="password" id="password2" name="password2" required>
                    </div>
                </div>
                {% if form.errors %}
                    <div class="error-message">
                        {% for field in form %}
                            {% for error in field.errors %}
                                {{ error }}<br>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            {{ error }}<br>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="mt-6">
                    <span>
                        <p class="form-link mb-4">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
                        <button type="submit" class="submit-button">
                        Register
                        </button>
                    </span>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 